name: Test cnspec policy linting

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Lint Policies
        uses: ./cnspec-lint
        with:
          path: ./.github/test_files/cnspec-lint
          output-file: "custom-results.sarif"
      - name: Archive SARIF results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cnspec-lint-report
          path: custom-results.sarif
