name: Docker Image Scanning
on:
  pull_request:
  push:
    paths:
      - "action.yaml"
      - "docker-image/*"
      - ".github/test_files/**"
    branches:
      - "main"
    tags: ["v*.*.*"]

env:
  APP: mondoo-test
  VERSION: 0.1.0

jobs:
  docker-build-scan-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Build and export to Docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./.github/test_files/
          load: true
          tags: |
            ${{env.APP}}:${{env.VERSION}}
      - name: Scan Docker Image
        uses: ./docker-image
        with:
          image: ${{env.APP}}:${{env.VERSION}}
          service-account-credentials: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
