name: General Mondoo action
on:
  pull_request:
  push:
    paths:
      - "action.yaml"
      - ".github/test_files/**"
    branches:
      - "main"
    tags: ["v*.*.*"]

jobs:
  general-action-test:
    runs-on: ubuntu-latest
    name: Test general Mondoo action
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Show status
        uses: ./
        with:
          args: status
          service-account-credentials: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
      - name: Show status
        uses: ./
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
        with:
          args: status
      - name: Show version
        uses: ./
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
        with:
          args: version
