name: GitHub repo Scanning
on:
  pull_request:
  push:
    paths:
      - "action.yaml"
    branches:
      - "main"
    tags: ["v*.*.*"]

jobs:
  github-repo-tests:
    runs-on: ubuntu-latest
    name: Test GitHub repo scanning
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Scan GitHub repo
        uses: ./github-repo
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          repository: mondoohq/actions
