name: GitHub repo Scanning
on:
  pull_request:
  push:
    paths:
      - "action.yaml"
    branches:
      - "main"
    tags: ["v*.*.*"]

jobs:
  github-repo-tests:
    runs-on: ubuntu-latest
    name: Test GitHub repo scanning
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Scan GitHub repo
        uses: ./github-repo
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          repository: mondoohq/actions
