name: Terraform State Scanning Tests
on:
  pull_request:
  push:
    paths:
      - "action.yaml"
      - "terraform-plan/*"
      - "terraform-state/*"
      - ".github/test_files/**"
    branches:
      - "main"
    tags: ["v*.*.*"]

jobs:
  terraform-tests:
    runs-on: ubuntu-latest
    name: Test Terraform scanning
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # run terraform plan checks
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          # super important setting, otherwise you cannot pipe terraform show -json
          # see https://stackoverflow.com/questions/66496105/how-can-i-remove-all-the-extraneous-output-from-redirected-output-in-github-acti
          terraform_wrapper: false
      - run: terraform init
        working-directory: ./.github/test_files/tfstate
      - name: Write terraform plan
        run: terraform plan -out plan
        working-directory: ./.github/test_files/tfstate
      - name: Export terraform plan to json
        shell: bash
        run: terraform show -json plan > plan.json
        working-directory: ./.github/test_files/tfstate
      - name: Export terraform state to json
        shell: bash
        run: |
          terraform apply plan
          terraform show -json terraform.tfstate > state.json
        working-directory: ./.github/test_files/tfstate
      - name: Upload terraform plan
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: terraform
          path: |
            .github/test_files/tfstate/plan.json
            .github/test_files/tfstate/state.json
      - name: Scan Terraform State
        uses: ./terraform-state
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
        with:
          path: ".github/test_files/tfstate/state.json"
