name: Terraform HCL Scanning Tests
on:
  pull_request:
  push:
    paths:
      - "action.yaml"
      - "terraform-hcl/*"
      - ".github/test_files/**"
    branches:
      - "main"
    tags: ["v*.*.*"]

jobs:
  terraform-tests:
    runs-on: ubuntu-latest
    name: Test Terraform scanning
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Scan Terraform HCL
        uses: ./terraform-hcl
        env:
          MONDOO_CONFIG_BASE64: ${{ secrets.MONDOO_SERVICE_ACCOUNT }}
        with:
          path: ./.github/test_files/tf
